/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol,menu {
    list-style: none;
}

button {
	background-color: transparent;
	border: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

img {
    max-width: 100%;
}

/* LAYOUT */
.container-lg {
    max-width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.container-sm {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
}

 .col-1{
    width: 30%;
}

.col-2{
    width: 70%;
}

/* STYLE HEADER*/
header .container-lg {
    padding: 5px 0;
}

header .container-lg>.row {
    width: 100%;
    min-height: 50px;
    justify-content: space-between;
}

header .container-lg ul.row {
    min-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    gap: 25px; 
}

header li {
    color: #8C8C8C;
}

header #button__start {
    line-height: 30px;
}

/* STYLE MAIN__HERO */
main .main__hero{
    background-color: #B4D0E7;
    padding-top: 60px;
    height: 630px
}

main #title__hero {
    font-size: 53px;
    padding-bottom: 40px;
}

main .main__hero .col-1 {
    flex-direction: column;
    gap: 20px;
}

main .main__hero i {
    margin-top: auto;
    padding-bottom: 70px;
    font-size: 35px;
}

main .main__hero button{
    /* max-width: 200px; */
}

/* STYLE MAIN__BUSINESS */
main .main__business{
    margin-top: 130px;
}

.main__business .container-sm>.font_size_title_h3 {
    padding-bottom: 40px;
}

/* UTILITY */
.button{
    background-color: #0061FF;
    color: white;
    line-height: 40px;
    padding: 0 15px;
    /* max-width: 200px; */
}

.font_size_title_h3{
    font-size: 40px;
}

/* DEBUG */

